<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ari_project">

    <uses-permission android:name="android.permission.CAMERA"/> <!--permission camera-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ARI_Project"
        tools:ignore="AllowBackup">
        //mainActivity
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //menu_ari_activity
        <activity android:name=".MenuAriActivity"></activity>
        //menu_entretien_ari
        <activity android:name=".MenuEntretienAriActivity"></activity>
        //menu_controle_ari
        <activity android:name=".MenuControleAriActivity"></activity>
        //menu_gonflage_ari
        <activity android:name=".MenuGonflageAriActivity"></activity>
        //menu_reparations_ari
        <activity android:name=".MenuReparationsAriActivity"></activity>
        //menu_affectation_ari
        <activity android:name=".MenuAffectationAriActivity"></activity>
        //menu_affectation_add_ari
        <activity android:name=".MenuAffectationAddAriActivity"></activity>
        //menu_affectation_remove_ari
        <activity android:name=".MenuAffectationRemoveAriActivity"></activity>
        //menu_consultation_ari
        <activity android:name=".MenuConsultationAriActivity"></activity>
        //menu_validation_gonflage_ari
        <activity android:name=".MenuValidationGonflageAriActivity"></activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>



</manifest>