<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ari_project">

    <uses-permission android:name="android.permission.CAMERA"/> <!--permission camera-->
    <uses-permission android:name="android.permission.INTERNET" /><!--permission internet-->

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ARI_Project"
        android:screenOrientation="portrait"
        tools:ignore="AllowBackup">

        <!--mainActivity-->
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--menu_affectation_ari-->
        <activity android:name=".MenuAffectationAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <!--menu_affectation_add_ari-->
        <activity android:name=".MenuAffectationAddAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <!--menu_affectation_remove_ari-->
        <activity android:name=".MenuAffectationRemoveAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!--menu_ari_activity-->
        <activity android:name=".MenuAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!--menu__choix_gonflage_ari-->
        <activity android:name=".MenuChoixGonflageAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!--menu_consultation_ari-->
        <activity android:name=".MenuConsultationAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!--menu_controle_ari-->
        <activity android:name=".MenuControleAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!--menu_controle_historique_ari-->
        <activity android:name=".MenuControleHistoriqueAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <!--menu_entretien_ari-->
        <activity android:name=".MenuEntretienAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!--menu_gonflage_ari-->
        <activity android:name=".MenuGonflageAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!--menu_gonflage_historique_ari-->
        <activity android:name=".MenuGonflageHistoriqueActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!--menu_reparations_ari-->
        <activity android:name=".MenuReparationsAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!--menu_reparations_historique_ari-->
        <activity android:name=".MenuReparationsHistoriqueAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!--menu_validation_gonflage_ari-->
        <activity android:name=".MenuValidationGonflageAriActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>



</manifest>